
.column-sidebar {
  background-color: #142C5C;
  color: white;
  height: 100vh;
  overflow: scroll;
}

.column-main {
  background-color: #28529E;
  color: white;
  height: 100vh;
}

.search-bar-container {
  padding: 1em 0;
}

.search-bar-input {
  width: 100%;
  border: 1px solid #ddd;
  padding: 0.5em 1em;
  border-radius: 1.5em;
  font-weight: 100;
}

.search-bar-input:focus {
  outline-width: 0;
}

.route-list-item {
  padding: 0.75em 0.25em;
  color: white;
  display: block;
}

.route-list-item:hover {
  opacity: 0.7;
  cursor: pointer;
  color: white;
}

.route-list-item:focus {
  color: white;
}

.route-list-item:active {
  opacity: 0.5;
  color: white;
}

.route-list-item-number {
  display: inline-block;
  background-color: #FDC151;
  width: 2.5em;
  border-radius: 1em;
  text-align: center;
  color: #6A4501;
}

.route-list-item-name {
  display: inline-block;
  margin-left: 1em;
  font-weight: 100;
}

.route-detail-header {
  font-size: 2em;
  text-align: center;
  padding: 1em;
}

.route-detail-header-number {
  display: inline-block;
  background-color: #FDC151;
  width: 2.5em;
  border-radius: 1em;
  text-align: center;
  color: #6A4501;
}

.route-detail-header-name {
  display: inline-block;
  margin-left: 0.75em;
  font-weight: 100;
}

.route-detail-directions {
  font-size: 2em;
  font-weight: 100;
}

.route-detail-directions-selected {
  font-weight: 400;
}
